<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amida_productdeltafeed>
            <general>
                <enabled>1</enabled>
                <route_enabled>1</route_enabled>
                <api_request_monopoly_enabled>1</api_request_monopoly_enabled>
                <api_request_timeout_seconds>5</api_request_timeout_seconds>
                <public_key></public_key>
                <zstd_enabled>1</zstd_enabled>
                <zstd_level>3</zstd_level>
                <max_batch_size_bytes>2097152</max_batch_size_bytes>
                <hard_single_item_limit_bytes>4194304</hard_single_item_limit_bytes>
                <candidate_limit>250</candidate_limit>
                <dirty_batch_size>100</dirty_batch_size>
                <reconcile_batch_size>100</reconcile_batch_size>
                <retention_days>30</retention_days>
                <repair_scan_batch_size>100</repair_scan_batch_size>
                <last_reconcile_product_id>0</last_reconcile_product_id>
                <last_reconcile_run_at></last_reconcile_run_at>
            </general>
            <streams>
                <content_enabled>1</content_enabled>
                <seo_enabled>1</seo_enabled>
                <price_enabled>1</price_enabled>
                <availability_enabled>1</availability_enabled>
                <category_enabled>1</category_enabled>
                <curated_enabled>1</curated_enabled>
                <all_enabled>1</all_enabled>
            </streams>
            <content>
                <include_attributes></include_attributes>
                <exclude_attributes>price,special_price,special_from_date,special_to_date,status,url_key,name,description,short_description,meta_title,meta_description,meta_keyword,category_ids</exclude_attributes>
            </content>
            <runtime>
                <suppress_while_disabled>1</suppress_while_disabled>
                <reemit_full_on_enable>1</reemit_full_on_enable>
                <export_deleted_as_tombstone>1</export_deleted_as_tombstone>
            </runtime>
            <stores>
                <codes></codes>
            </stores>
        </amida_productdeltafeed>
    </default>
</config>
